.messagesForm {
  margin-top: 15px;
  padding: 0 10px;
}

.messagesForm input {
  margin-right: 10px;
  height: 29px;
  width: 300px;
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid gray;
}
