.userItem {
  display: flex;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid rgb(115, 185, 250);
}

.userLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  margin-left: 10px;
}

.userLeft img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}

.userLeft img:hover {
  opacity: 0.5;
}

.userRight {
  text-align: left;
}

.userRight nav {
  font-size: 16px;
  font-weight: 700;
  color: #216999;
  margin-bottom: 10px;
  margin-top: 5px;
}

.userRight p {
  color: #216999;
  font-weight: 400;
  font-size: 14px;
}
