.settingsPhoto {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  padding: 0 20px 25px 20px;
  border-bottom: 1px solid rgb(115, 185, 250);
}

.photoLeft {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.photoLeft span {
  margin-top: 10px;
  font-size: 14px;
  color: gray;
}

.photoLeft img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid white;
}

.photoRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photoRight input {
  display: none;
}

.photoRight button {
  margin-top: 10px;
}

.fileUpload {
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
  min-width: 180px;
}

.fileUpload svg {
  padding-top: 3px;
}

.settingsAbout {
  margin-top: 30px;
}

.aboutForm {
  display: flex;
  justify-content: center;
  text-align: left;
}

.aboutForm h3 {
  margin-bottom: 15px;
  text-align: center;
}

.aboutForm h3:not(:first-child) {
  margin-top: 20px;
}

.aboutForm label {
  font-weight: 700;
}

.aboutForm input {
  margin-bottom: 10px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  background: #97cbf5;
  border-radius: 4px;
  border: none;
}

.aboutForm form {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.aboutConfirm {
  margin: 20px 0 10px 0;
  text-align: center;
}

.aboutConfirm button {
  width: 180px;
  background: rgb(140 204 169);
  border: none;
}

.settingsSaved {
  text-align: center;
  margin: 10px 0 20px 0;
  color: #27bd27;
  font-weight: 800;
}

.checkbox {
  display: flex;
  align-self: flex-start;
}

.upload {
  justify-content: center;
  margin-top: 20px;
}
