.selected {
  font-weight: 700;
  color: #000;
}

.notSelected {
  color: rgb(115, 185, 250);
  font-weight: 500;
}

.pagination {
  margin: 10px 0 0 10px;
  padding-bottom: 10px;
}

.pagination span {
  font-size: 18px;
  margin-right: 5px;
}

.pagination span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pagination button {
  margin: 0 10px;
  padding: 2px 4px;
}
