.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  border-radius: 3px;
}

.header__logo img {
  width: 70px;
  height: 50px;
}

.header__link {
  display: flex;
  color: lightblue;
  margin-right: 20px;
  font-weight: 600;
  cursor: pointer;
}

.header__link nav {
  margin-right: 15px;
  cursor: auto;
}
