.navbar {
  grid-area: navbar;
  background-color: #456681;
  border-radius: 3px;
  height: 583px;
}

.navbar__items {
  margin-top: 15px;
}

.navbar__item {
  display: flex;
  padding-top: 5px;
  margin-bottom: 10px;
}

.navbar__item:hover {
  background-color: #3498db;
  transition: all 0.2s ease-out;
}

.navbar__img {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar__img svg {
  width: 24px;
  height: 24px;
  color: #5181b8;
}

.navbar__text {
  color: #fff;
  padding-right: 20px;
}

.navbar__active {
  background-color: #3498db;
}
