.navbar {
  grid-area: navbar;
  background-color: #456681;
  border-radius: 3px;
  height: 583px;
}

.navbarItems {
  margin-top: 15px;
}

.navbarItem {
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin-bottom: 10px;
}

.navbarItem:hover {
  background-color: #3498db;
  transition: all 0.2s ease-out;
}

.title {
  color: #fff;
  padding-right: 20px;
}

.navbarActive {
  background-color: #3498db;
}

.counter {
  padding: 1px;
  width: 20px;
  height: 20px;
  font-weight: 600;
  border-radius: 50%;
  text-align: center;
  background: #ecf0f1;
  color: #456681;
}
