.messages {
  margin: auto;
  max-width: 780px;
  background: #c9c9c9;
  border-radius: 5px;
  height: 600px;
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: center;
  background: #3498db;
  padding: 5px 5px;
}

.message:nth-child(even) {
  background: #456681;
}

.message__left {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.message__left img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 5px;
}

.message__right {
  min-width: 350px;
  word-wrap: break-word;
  margin-left: 10px;
  text-align: left;
}
