.dialogs {
  display: flex;
  min-height: 450px;
  margin-bottom: 25px;
}

.dialogs__items {
  border-right: 1px solid rgb(115, 185, 250);
}

.dialogs__messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
