.video {
  margin: 10px 0;
}

.video__title {
  border-bottom: 1px solid rgb(115, 185, 250);
  margin-bottom: 25px;
  padding-bottom: 15px;
}

.video__search form {
  display: flex;
  justify-content: center;
}

.video__search form input {
  width: 350px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 0 5px;
}

.video__search form button {
  width: 100px;
  height: 30px;
}

.video__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(115, 185, 250);
  margin-bottom: 25px;
  padding: 0px 30px 15px 30px;
}

.video__item:last-child {
  border: none;
  margin: 0;
}

.video__item iframe {
  width: 350px;
  height: 200px;
}

.item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}
