.profile__top {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  margin: 0 15px;
}

.profile__top img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  border: 3px solid gray;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile__name {
  font-size: 24px;
  font-weight: 700;
}

.profile__status {
  font-style: italic;
  color: rgb(122, 122, 122);
}

.profile__job span,
.profile__job_desc span {
  text-decoration: underline;
}

.profile__contacts a:hover {
  opacity: 0.5;
}

.profile__contacts ul {
  display: flex;
  justify-content: center;
}

.profile__contacts ul li {
  margin: 0 5px;
}
