.news {
  margin-top: 10px;
}

.news__title {
  border-bottom: 1px solid rgb(115, 185, 250);
  margin-bottom: 25px;
  padding-bottom: 15px;
}

.news__buttons {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(115, 185, 250);
  margin-bottom: 25px;
  padding-bottom: 20px;
}

.news__buttons button {
  width: 112px;
}

.news__items {
  margin-bottom: 20px;
  padding: 0 10px;
}

.news__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(115, 185, 250);
  margin-bottom: 25px;
  padding-bottom: 15px;
}

.news__item:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.item__top {
  display: flex;
  flex-direction: column;
}

.item__top img {
  width: 600px;
  height: 350px;
}

.item__top span {
  color: #7d8084;
  font-size: 14px;
  margin-top: 5px;
}

.top__description {
  display: flex;
  justify-content: space-between;
}

.item__bottom {
  margin-top: 15px;
}

.item__bottom p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.item__bottom a {
  font-size: 14px;
}
