@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.wrapper {
  display: grid;
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px 15px;

  grid-template-areas:
    'header header'
    'navbar content'
    'footer footer';

  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-row-gap: 15px;
}

.content {
  grid-area: content;
  background-color: #ecf0f1;
  margin-left: 15px;
  border-radius: 3px;
  text-align: center;
}

.wrapper h1 {
  margin: 15px 0 30px 0;
}
